---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/main/Hero.astro";
import Agenda from "../components/main/Agenda.astro";
import LatestPosts from "../components/main/LatestPosts.astro";
import GaleriGrid from "../components/main/GaleriGrid.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Literasi Brebesan - Merawat Nalar, Menjalin Kedekatan" description="Ruang temu alternatif di Brebes untuk membaca, berdiskusi, dan bergerak bersama.">
  <Header />
  <main>
    <Hero />
    <Agenda />
    <LatestPosts />
    <GaleriGrid />
  </main>
  <Footer />
</Layout>
